#chat {
  border-width: 0px;
  border-style: none;
}

#chatview, #memberlist {
  border: 1px solid gray;
  background-color: white;
  vertical-align: top;
  height: 350px;
  padding: 5px;
  margin: 0px;
  overflow-y: scroll;
}

#chat #chatview dd {
  margin-left: 5px;
  margin-bottom: 5px;
}

#chat #memberlist {
  float: right;
  width: 150px;
}

#restart, #restart a:link {
  color: red;
}

#restart a:hover {
  color: #ff6666;
}

#chat_content {
  margin: 10px 15px;
  text-align: right;
}

#chat_input {
  text-align: inherit;
}

#chat_input input, #chat_input label {
  display: block;
  float: left;
}

#chat_input br {
  display: none;
}

#chat_input #chat_content_body_buttonmenu {
  display: inline;
}

#chat_input #chat_content_body {
  width: 100%;
}

#chat_content input.input_submit {
  padding: 3px 15px;
  margin: 2px;
}

