#chat {
  width: 100%;
  height: 350px;
}

#chat tr td {
  background-color: white;
  vertical-align: top;
  padding: 5px
}

#chatview {
  border: 1px solid gray;
  overflow-y: scroll;
}

#chatview dl dd {
  margin-left: 5px;
  margin-bottom: 5px;
}

#memberlist {
  border: 1px solid gray;
  width: 15em;
  overflow-y: scroll;
}

input#chat_content_body {
  width: 70%
}

input#submit {
  width: 5em;
}

