dl#chatview dd.red {
  color: red;
}

dl#chatview dd.blue {
  color: blue;
}

dl#chatview dd.green {
  color: green;
}

dl#chatview dd.white {
  color: white;
}

dl#chatview dd.micro {
  font-size: 50%;
}

dl#chatview dd.small {
  font-size: 75%;
}

dl#chatview dd.big {
  font-size: 125%;
}

dl#chatview dd.mega {
  font-size: 150%;
}

dl#chatview dd.giga {
  font-size: 175%;
}

dl#chatview dd.tera {
  font-size: 200%;
}

dl#chatview dd.bold {
  font-weight: bold;
}

dl#chatview dd.italic {
  font-style: italic;
}

dl#chatview dd.message {
  color: maroon;
}

