#chat, #chat tr td {
  border-width: 0px;
  border-style: none;
}

#chatview, #memberlist {
  border: 1px solid gray;
  background-color: white;
  vertical-align: top;
  height: 350px;
  padding: 5px;
  margin: 0px;
  overflow-y: scroll;
}

#chatview dd {
  margin-left: 5px;
  margin-bottom: 5px;
}

input#chat_content_body {
  width: 70%
}

input#submit {
  width: 5em;
}

